@model InvoiceApp.ViewModels.ViewInvoice_ViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Invoice Details</h2>

<div class="formWrapper">
    <div class="Section">
        
        <div class="viewInvoice">
            <hr />
            <div class="dateInfo">
                <dl class="dl-horizontal">
                    <dt> Invoice ID:</dt>
                    <dd> @Html.DisplayFor(model => model.BaseInvoiceViewModel.InvoiceID)</dd>

                    <dt>@Html.DisplayNameFor(model => model.InvoiceCreationDate)</dt>
                    <dd> @Html.DisplayFor(model => model.InvoiceCreationDate)</dd>

                    <dt>@Html.DisplayNameFor(model => model.BaseInvoiceViewModel.InvoiceDueDate)</dt>
                    <dd>@Html.DisplayFor(model => model.BaseInvoiceViewModel.InvoiceDueDate)</dd>
                </dl>
                <hr />
            </div>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BaseInvoiceViewModel.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
