@model InvoiceApp.ViewModels.Invoice_ViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseCustomerViewModel.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCustomerViewModel.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCustomerViewModel.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCustomerViewModel.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseInvoiceViewModel.InvoiceDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseInvoiceViewModel.InvoiceDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseInvoiceViewModel.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseInvoiceViewModel.ProductName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.BaseInvoiceViewModel.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseInvoiceViewModel.ProductDescription)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.BaseInvoiceViewModel.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseInvoiceViewModel.Price)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.BaseInvoiceViewModel.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseInvoiceViewModel.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseInvoiceViewModel.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseInvoiceViewModel.Tax)
        </dd>









    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BaseInvoiceViewModel.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
